/* Estilo da página */
body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
}

/* Estilo da caixa central */
.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color: white;
}
.box-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.box h1 {
    white-space: nowrap;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box h2 {
    white-space: nowrap;
    font-size: 10px;
}
.box h5 {
    padding-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
}
.box p {
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 20px;
}
ul {
    margin: 0;
    padding: 0;
}
.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover {
    color: #b9b9b9;
}
.botao a:hover {
    color: #b9b9b9;
}
.botao {
    font-size: 20px;
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.imagem-quadrada {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}


/* Estilo da navbar */
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 40em) {
    .cover-container {
        width: 100%;
        text-align: center;
    }
}
@media (min-width: 62em) {
    .masthead,
    .mastfoot,
    .cover-container {
    width: 25rem;
    }
}
.nav-masthead .nav-link {
    padding: .100rem 0;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    float: none;
    display: inline-block;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(0,255,100,.50);
}
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}
